$color-green: #7db569;

body {
  margin: 0;

  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
    "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: "Roboto";
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

.navbar {
  box-shadow: 0px 0px 6px #00000029;
  background-color: #fff;
}

a:link,
a:visited {
  // color: currentColor;
  text-decoration: none;
}

.removeOutline:focus {
  box-shadow: none !important;
  outline: none !important;
  border: 0;
}
.green-btn {
  background-color: $color-green !important;
  border: $color-green !important;
  min-width: 100px;
  margin: "auto";
}
.green {
  color: $color-green;
}

.boxShadow {
  box-shadow: 0px 0px 6px #00000029 !important;
}

/* Header Section */
.intro {
  display: table;
  width: 100%;
  padding: 0;
  background: url(../images/header.jpeg) center center no-repeat;
  background-color: #e5e5e5;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}
.intro .overlay {
  background: rgba(0, 0, 0, 0.2);
}
.intro h1 {
  font-family: "Raleway", sans-serif;
  color: #fff;
  font-size: 82px;
  font-weight: 700;
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 10px;
}
.intro h1 span {
  font-weight: 800;
  color: #b0dca2;
}
.intro p {
  color: #fff;
  font-size: 22px;
  font-weight: 300;
  line-height: 30px;
  margin: 0 auto;
  margin-bottom: 60px;
}
header .intro-text {
  padding-top: 350px;
  padding-bottom: 200px;
  text-align: center;
}

.btn-custom {
  font-family: "Raleway", sans-serif;
  text-transform: uppercase;
  color: #fff;
  background-color: #b0dca2;
  background-image: linear-gradient(to right, #b0dca2 0%, #7cb569 100%);
  padding: 14px 34px;
  letter-spacing: 1px;
  margin: 0;
  font-size: 15px;
  font-weight: 500;
  border-radius: 25px;
  transition: all 0.5s linear;
  border: 0;
}

.btn-custom-sm {
  text-transform: none;
  padding: 7px 17px;
  letter-spacing: 0px;
  font-size: 15px;
}

.btn-custom:hover,
.btn-custom:focus,
.btn-custom.focus,
.btn-custom:active,
.btn-custom.active {
  color: #fff;
  background-image: none;
  background-color: #7cb569;
}
.btn:active,
.btn.active {
  background-image: none;
  outline: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
}
a:focus,
.btn:focus,
.btn:active:focus,
.btn.active:focus,
.btn.focus,
.btn:active.focus,
.btn.active.focus {
  outline: none;
  outline-offset: none;
}

/* Contact Section */
#contact {
  padding: 100px 0 60px 0;
  background: linear-gradient(to right, #40802b 0%, #7cb569 100%);
  color: rgba(255, 255, 255, 0.75);
}
#contact .section-title {
  margin-bottom: 40px;
}
#contact .section-title p {
  font-size: 16px;
}
#contact h2 {
  color: #fff;
  margin-top: 10px;
  margin-bottom: 15px;
  padding-bottom: 15px;
}
#contact .section-title h2::after {
  position: absolute;
  content: "";
  background: rgba(255, 255, 255, 0.3);
  height: 4px;
  width: 60px;
  bottom: 0;
  left: 30px;
}
#contact h3 {
  color: #fff;
  margin-top: 80px;
  margin-bottom: 25px;
  padding-bottom: 20px;
  font-weight: 400;
}
#contact form {
  padding-top: 20px;
}
#contact .text-danger {
  color: #cc0033;
  text-align: left;
}
#contact .btn-custom {
  margin: 30px 0;
  background: transparent;
  border: 2px solid #fff;
}
#contact .btn-custom:hover {
  color: #1f386e;
  background: #fff;
}
label {
  font-size: 12px;
  font-weight: 400;
  font-family: "Open Sans", sans-serif;
  float: left;
}
#contact .form-control {
  display: block;
  width: 100%;
  padding: 6px 12px;
  font-size: 16px;
  line-height: 1.42857143;
  color: #444;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ddd;
  border-radius: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
  -webkit-transition: none;
  -o-transition: none;
  transition: none;
}
#contact .form-control:focus {
  border-color: #999;
  outline: 0;
  -webkit-box-shadow: transparent;
  box-shadow: transparent;
}
.form-control::-webkit-input-placeholder {
  color: #777;
}
.form-control:-moz-placeholder {
  color: #777;
}
.form-control::-moz-placeholder {
  color: #777;
}
.form-control:-ms-input-placeholder {
  color: #777;
}
#contact .contact-item {
  margin: 20px 0;
}
#contact .contact-item span {
  color: rgba(255, 255, 255, 1);
  margin-bottom: 10px;
  display: block;
}
#contact .contact-item i.fa {
  margin-right: 10px;
}
#contact .social {
  border-top: 1px solid rgba(255, 255, 255, 0.15);
  padding-top: 50px;
  margin-top: 50px;
  text-align: center;
}
#contact .social ul li {
  display: inline-block;
  margin: 0 20px;
}
#contact .social i.fa {
  font-size: 22px;
  width: 48px;
  height: 48px;
  padding: 12px 0;
  border: 2px solid #fff;
  color: #fff;
  border-radius: 50%;
  transition: all 0.3s;
}
#contact .social i.fa:hover {
  color: #7cb569;
  background: #fff;
}
/* Footer Section*/
#footer {
  background: #f6f6f6;
  padding: 30px 0;
}
#footer p {
  color: #888;
  font-size: 14px;
}
#footer a {
  color: #7cb569;
}
#footer a:hover {
  border-bottom: 2px solid #7cb569;
}

@media (max-width: 768px) {
  #about img {
    margin: 50px 0;
  }
}

/* Process Section */
#process {
  padding: 100px 0;
  background: #f6f6f6;
}
#process i {
  color: #e6e6e6;
  font-size: 32px;
  margin-bottom: 20px;
}
.process {
  position: relative;
  padding: 20px;
}
.process-image {
  float: left;
  margin-right: 15px;
}
.process-image,
.process-image img {
  display: block;
  width: 64px;
  height: 64px;
  border-radius: 50%;
}
.process-content {
  position: relative;
  overflow: hidden;
}
.process-content p {
  margin-bottom: 0;
  font-size: 14px;
  font-style: italic;
}
.process-meta {
  margin-top: 10px;
  font-size: 15px;
  font-weight: 600;
  color: #666;
}
#process i.fa {
  font-size: 38px;
  margin-bottom: 20px;
  transition: all 0.5s;
  color: #fff;
  width: 100px;
  height: 100px;
  padding: 30px 0;
  border-radius: 50%;
  background: linear-gradient(to right, #b0dca2 0%, #7cb569 100%);
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.05);
}

#process h3 {
  font-size: 20px;
  font-weight: 600;
}

#process p {
  font-size: 15px;
  color: #777;
  font-weight: 400;
}

.section-title {
  margin-bottom: 70px;
}
.section-title h2 {
  font-family: "Raleway", sans-serif;
  text-transform: uppercase;
  margin: 0 0 20px 0;
  font-weight: 800;
  font-size: 36px;
  color: #333;
  position: relative;
  margin-top: 10px;
  margin-bottom: 15px;
  padding-bottom: 15px;
}
.section-title h2::after {
  position: absolute;
  content: "";
  background: linear-gradient(to right, #b0dca2 0%, #7cb569 100%);
  height: 4px;
  width: 60px;
  bottom: 0;
  margin-left: -30px;
  left: 50%;
}
.section-title p {
	font-size: 18px;
}

.detaildiagnosis {
  display: flex;
  flex-direction: column;
  margin-left: 50px;
}

.detaildiagnosis > strong {
  margin-top: 5px;
  font-size: larger;
}

.detaildiagnosis__product {
  display: flex;
  flex-direction: row;
  background-color: rgb(218, 214, 214);
  padding: 10px;
  margin-right: 5px;
}

.detaildiagnosis__productlist {
  margin-right: 8px;
}

.detaildiagnosis > textarea {
  margin-bottom: 20px;
}

.loginSide {
  background: url(../images/header.jpeg) center center no-repeat;
  min-height: 100vh;
  display: table;
  background-color: #e5e5e5;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}

